* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #CCCCCC;
  padding-top: 1px;
}
.magnifier {
  width: 500px;
  height: 400px;
  margin-left: 200px;
  margin-top: 99px;
  position: relative;
}
.magnifier .small-pic {
  width: 440px;
  height: 300px;
  overflow: hidden;
  position: relative;
  font-size: 0;
}
.magnifier .small-pic img {
  width: 100%;
  height: 100%;
  display: block;
}
.magnifier .small-pic .pointer {
  border: 1px solid red;
  background: url("../img/bac.png");
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: crosshair;
}
.magnifier .big-pic {
  width: 440px;
  height: 300px;
  position: absolute;
  left: 450px;
  top: 0;
  overflow: hidden;
  background-color: #00a4e4;
  display: none;
}
.magnifier .big-pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
